:root {
  --fundo-corpo: ghostwhite;
  --fundo-cabecalho: lightgray;
  --item-menu: black;
  --fundo-item-menu: lightgray;
  --fundo-item-menu-mouse-sobre: rgba(0, 0, 0, 0.05);
  --linha-separadora-item-menu: rgba(0, 0, 0, 0.05);

  --dark-green: #2d4a22;
  --green: #49aa26;
  --light-green: #3dd705;
  --ultra-light-green: #9eb396;
  --red: #e92929;
}
