#menu{
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a{
  display: block;
  padding: 0.5rem;
  color: var(--item-menu);
  text-decoration: none;
  font-family: sans-serif;
}

#menu a:hover {
  background-color: var(--fundo-item-menu-mouse-sobre);
}

#btn-mobile{
  display: none;
}

@media(max-width: 600px){
  #menu{
    display: none;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: var(--fundo-item-menu);
    z-index: 1000;
  }

  #nav.active #menu{
    display: block;
    overflow-y: auto;
  }

  #menu a{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid var(--linha-separadora-item-menu);
  }

  #btn-mobile{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburguer{
    border-top: 2px solid;
    width: 20px;
  }

  #hamburguer::before, #hamburguer::after{
    width: 20px;
    height: 2px;
    background-color: currentColor;
    content: '';
    display: block;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer{
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before{
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }

}
