* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: ghostwhite;
}

header{
  display: flex;
  align-items: center;
  height: 70px;
  padding: 1rem;
  justify-content: space-between;
  background-color: lightgray;
}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

#logo{
  font-size: 1.5rem;
  font-weight: bold;
}

#menu{
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a{
  display: block;
  padding: 0.5rem;
}

#btn-mobile{
  display: none;
}

@media(max-width: 600px){
  #menu{
    display: none;
    /* display: block; */
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: lightgray;
    z-index: 1000;
  }

  #nav.active #menu{
    /* display: flex; */
    display: block;
    overflow-y: auto;
  }

  #menu a{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #btn-mobile{
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburguer{
    border-top: 2px solid;
    width: 20px;
  }

  #hamburguer::before, #hamburguer::after{
    width: 20px;
    height: 2px;
    background-color: currentColor;
    content: '';
    display: block;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer{
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before{
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }
}